@use './variables' as *;

footer {
    text-align: center;
    bottom: 0;
    position: fixed;
    background: $accent;
    width: 100vw;
    font-size: 0.8rem;
    p {
        line-height: 32px;
    }
}