@use './variables' as *;

header {
    display: flex;
    height: 70vh;
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-top: 100px;
        h1 span {
            color: $accent;
        }
        h2 {
            padding-left: 50px;
        }
    }
    .headerImgs {
        display: flex;
        flex-basis: 60%;
        flex-shrink: 0.5;
        .img1 {
            flex-basis: 25%;
            flex-shrink: 4;
        }
        .img2 {
            flex-basis: 45%;
        }
        .img3 {
            flex-basis: 30%;
            flex-shrink: 4;
        }
    }
}

header.wrapper {
    width: 90%;
}

// MEDIA QUERIES
@media (max-width: 1142px) {
    header .headerImgs {
        flex-shrink: 0.3;
        justify-content: flex-start;
        .img1 {
            display: none;
        }            
    }
}

@media (max-width: 928px) {
    header {
        .headerImgs {
        flex-shrink: 0;
        justify-content: flex-start;
            .img2 {
                flex-basis: 50%;
            }
            .img3 {
                display: none;
            }
        }
    }
}

@media (max-width: 800px) {
    header {
        justify-content: center;
        align-content: center;
        .headerImgs {
            display: none;
        }
        .title {
            position: relative;
            flex-basis: 100%;
            text-align: center;
            h2 {
                padding-left: 0;
            }
        }
    }
}

@media (max-width: 590px) {
    header .title {
        position: relative;
        flex-basis: 100%;
        text-align: center;
        h1 {
            font-size: 4.5rem;
            line-height: 4.5rem;
            span {
                color: $accent;
            }
        }
        h2 {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 450px) {
    header .title {
        h1 {
            font-size: 3rem;
            line-height: 3rem;
        }

        h2 {
            font-size: 1rem;
        }
    }
}
