@use './variables' as *;

header {
    display: flex;
    height: 70vh;
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-top: 100px;
        flex-basis: 50%;
        h1 span {
            color: $accent;
        }
        h2 {
            padding-left: 50px;
        }
    }
    .headerImgs {
        display: flex;
        flex-basis: 45%;
        flex-shrink: 0.5;
        .img1 {
            flex-basis: 25%;
            flex-shrink: 4;
        }
        .img2 {
            flex-basis: 45%;
            // width:
        }
        .img3 {
            flex-basis: 30%;
            flex-shrink: 4;
        }
    }
}

header.wrapper {
    width: 90%;
}

// MEDIA QUERIES
@media (max-width: 1247px) {
    header .headerImgs {
        justify-content: center;
        .img1 {
            flex-basis: 40%;
        }
        .img2 {
            flex-basis: 60%;
        }
        .img3 {
            display: none;
        }            
    }
}

@media (max-width: 990px) {
    header .headerImgs {
            .img2 {
                flex-basis: 80%;
            }
            .img1 {
                display: none;
            }
        }
    }

@media (max-width: 964px) {
    header .headerImgs {
        flex-basis: 30%;
    }
}

@media (max-width: 820px) {
    header {
        justify-content: center;
        align-content: center;
        .headerImgs {
            display: none;
        }
        .title {
            position: relative;
            flex-basis: 100%;
            text-align: center;
            h2 {
                padding-left: 0;
            }
        }
    }
}

@media (max-width: 590px) {
    header .title {
        position: relative;
        flex-basis: 100%;
        text-align: center;
        h1 {
            font-size: 4.5rem;
            line-height: 4.5rem;
            span {
                color: $accent;
            }
        }
        h2 {
            font-size: 1.5rem;
        }
    }
}


@media (max-width: 450px) {
    header {
        height: 55vh;
        .title {
            h1 {
                font-size: 3rem;
                line-height: 3rem;
            }
            
            h2 {
                font-size: 1rem;
            }
        }
    }
}
