$background: #EFE2D4;
$primary: #595d48;
$secondary: #1d1d1d;
$accent: #c37056;

$subHeader: 'Fasthand', cursive;
$mainHeader: 'Gloock', serif;
$baseFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

// font-family: 'Delicious Handrawn',
// cursive;
// font-family: 'Fasthand',
// cursive;
// font-family: 'Gloock',
// serif;
// font-family: 'Permanent Marker',
// cursive;